<div class="wrapper">
  <carousel class="d-flex">
    <slide>
      <div class="slide n1 d-flex justify-content-center align-items-center flex-column">
        <div class="carousel-img">
          <img
            src="https://firebasestorage.googleapis.com/v0/b/roshen-bebec.appspot.com/o/slider%2Fslide1.jpg?alt=media&token=bec6e94e-e6f3-4d01-b275-4bd9de23bdc4"
            alt="">
        </div>
        <div class="carousel-content">
          <h4>Офіційний дистрибутор корпорації ROSHEN</h4>
          <div class="line"></div>
          <div class="company-name d-flex flex-row justify-content-center align-items-baseline">
            <h1>Рошен Львів</h1>
           
          </div>
          <button class="main-btn" (click)="categoryLink()">Перейти до покупок</button>
        </div>
      </div>

    </slide>
    <slide>
      <div class="slide n2 d-flex justify-content-center align-items-center flex-column">
        <div class="carousel-img">
          <img
            src="https://firebasestorage.googleapis.com/v0/b/roshen-bebec.appspot.com/o/slider%2Fslide2.jpg?alt=media&token=3739dace-ae9c-4930-961a-26ba23be280a"
            alt="">
        </div>
        <div class="carousel-content">
        <h4>Робимо життя солодшим кожного дня</h4>
        <div class="line"></div>
        <div class="company-name d-flex flex-row justify-content-center align-items-baseline">
          <h1>Рошен Львів</h1>
              
        </div>
        <button class="main-btn" (click)="categoryLink()">Перейти до покупок</button>
    </div>
</div>
</slide>
<slide>
  <div class="slide n3 d-flex justify-content-center align-items-center flex-column">
    <div class="carousel-img">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/roshen-bebec.appspot.com/o/slider%2Fslide3.jpg?alt=media&token=a2619bd9-7a43-44e0-bbaf-992cbd063223"
        alt="">
    </div>
    <div class="carousel-content">
    <h4>Підніміть свій настрій з нашими солодощами</h4>
    <div class="line"></div>
    <div class="company-name d-flex flex-row justify-content-center align-items-baseline">
      <h1>Рошен Львів</h1>
           
    </div>
    <button class="main-btn" (click)="categoryLink()">Перейти до покупок</button>
</div>
  
  </div>
</slide>

</carousel>
</div>